

<head>
    <style>
        img.missionBanner{
            width:100%;
            margin: auto;
        }
        td.td1{
            width:200px;
            font-weight:bold;
        }
        td.td2{
            width:500px;
        }
        tr{
            margin: 5px 0px;
        }

    </style>
</head>
@{
    ViewBag.Title = "MissionDetails";
}

<h2>MissionDetails</h2>

<div class="row">
    <div class="col-xs-6">
        @{
            if (@ViewBag.MissionClass.missionName == "Nevada Las Vegas Mission") {
                <img src="~/Content/battleborn.png" alt="Mission Pic" class="missionBanner" />
            }
            else if (@ViewBag.MissionClass.missionName == "Taiwan Taipei Mission")
            {
                <img src="~/Content/taiwan.png" alt="Mission Pic" class ="missionBanner" />
            }
            else if (@ViewBag.MissionClass.missionName == "England London Mission")
            {
                <img src="~/Content/england.png" alt="Mission Pic" class="missionBanner"/>
            }
        }
    </div>
    <div class="col-xs-6">
        <h3>@ViewBag.MissionClass.missionName</h3>

        <table>
            <tr>
                <td class="td1">President's Name:</td>
                <td class="td2">@ViewBag.MissionClass.missionPresidentName</td>
            </tr>
            <tr>
                <td class="td1">Address:</td>
                <td>@ViewBag.MissionClass.missionAddress</td>
            </tr>
            <tr>
                <td class="td1">Language:</td>
                <td>@ViewBag.MissionClass.missionLanguage</td>
            </tr>
            <tr>
                <td class="td1">Climate:</td>
                <td>@ViewBag.MissionClass.missionClimate</td>
            </tr>
            <tr>
                <td class="td1">Dominant Religion:</td>
                <td>@ViewBag.MissionClass.dominantReligion</td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-xs-3">
    </div>
    <div class="col-xs-6">
        <br />
        <h2 style="text-align:center">Mission Q&A</h2>
        @{ 
            foreach (var item in ViewBag.QuestionList)
            {

                <p><span style="font-weight:lighter; font-size:10px; color:gray;">@item.date</span>
                <br />
                <b style="font-size:18px;">@item.questionGiver</b>
                <span style="font-size:16px;">@item.questionText</span></p>
                foreach (var replyItem in ViewBag.ReplyList)
                {
                    if (replyItem.replyID == item.replyID)
                    {
                        <b style="font-size:14px;">@replyItem.replyGiver </b>
                        <span style="font-size:12px;">@replyItem.replyText </span>
                    }
                }
                using (Html.BeginForm())
                {
                    <span style="margin-right: 25%;">Name</span> <span>Reply</span>
                        <br />
                        @Html.TextBox("replyName") <span> </span>
                        @Html.TextBox("replyBox")
                        <input name ="submit" id ="Reply" type="submit" value="Reply">
                }
                <br />
                <br />
            }

        }

        <h3 style="text-align:center;">Ask A Question</h3>

        @using (Html.BeginForm())
        {
            <p>
                Your Name: <br />
                @Html.TextBox("questionName")
                <br /><br />
                Question: <br />
                @Html.TextArea("questionText")
                <br /><br />
                <input name="submit" id ="submit" type="submit" value="Post" />
            </p>
        }

    </div>
    <div class="col-xs-3">
    </div>
</div>